<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-4">

      <% @franchise.works.each do |work| %>

        <div class="well">
          <h2 style="text-align:center;"><%= work.name %></h2>

          <div class="caption" style="text-align:center">
            <a class="btn btn-info" aria-label="Left Align" >
             <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
             <span class="badge"><%= work.get_upvotes.size %></span>
           </a>
          </div>
        </div>
        <%= button_to "like", like_work_path(work),  method: :post %>
       <% end %>
    </div>
  </div>
</div>
